language: python
python:
- 3.6

matrix:
  include:
  - name: trusty
    os: linux
    dist: trusty
    env: 
      - PYTHON_EXECUTABLE=~/virtualenv/python3.6/bin/python
  - name: xenial
    os: linux
    dist: xenial
    env: 
      - PYTHON_EXECUTABLE=~/virtualenv/python3.6/bin/python
  - name: g++8
    os: linux
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - g++-8
    before_install:
    - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-8 90
    - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-8 90
    env: 
      - PYTHON_EXECUTABLE=~/virtualenv/python3.6/bin/python
  - name: osx
    os: osx
    language: generic
    before_install:
    - brew install clang-omp
    - python3 -m pip install virtualenv
    - virtualenv venv -p python3
    - source venv/bin/activate
    env: 
      - PYTHON_EXECUTABLE=../venv/bin/python
      - CC=clang-omp
      - CXX=clang-omp++

install:
- pip install -r requirements.txt

script:
- mkdir build
- cd build
- cmake .. -DCMAKE_BUILD_TYPE=Release -DDF_BUILD_TESTS=1 -DDF_WARNINGS_ARE_ERRORS=1
  -DDF_BUILD_PYTHON_WRAPPER=ON -DPYTHON_EXECUTABLE=$PYTHON_EXECUTABLE
- cmake --build . --config Release
- ctest --output-on-failure
- cd ..
- python setup.py install
- python -m unittest discover test

notifications:
  slack:
    secure: yAgy9xahI0+X1uRxzMKejHuFFPHF7jpkB4cCLrmChyMvpR0CLu91Py4mONpfP9HEAvhd2EL9ffapGkJ47sfEkVlPE5EL+yMnAM+xavnbxasMnK99hGfHDGOZt4BW1exbrUnTL99c9urtHkvwOVJ25qXySJUN5boIxfB2kumc2P40sbCOCx3NALLFgaysrHNq/y6Pa9tP1zG06acibb6FCJ+zOY3+1Ad8PhRDwZAWiIZ2y0Ic8TlwCwvDIABVahuuNgeY2Fkrt++SFT+/0o19YRydSpteMgoM6hRhKMe6tholj1bO9JclvFqa1WW1Ik8571WJXICk6d6AGipJafWbH5L410dIi/oyClW45nEpmna2wTQKL3eSIRd5NO4YZlm/yqaqJpXaTMwLGQDJyBurpOVC4DYny47ph8ep8wZ3ORCNiujBsHWWRKYK3MDXZuCVCmuK4wBH+GcCMee1Ww8m5acrY1bHJyEYYmSt4x2r49BXYYA9p9t6Gmwmmk2wJWsiWR1OkkvC1UW/Y6nyFTBu4uD0CPaXXj1in69U0xocdhmeS5txRqsw0HJxmbr+GKSMGmIttTXgZyDKrUsKYqH8KKlAfxPJKJeTuKM6f96v5Zj05FELx90Y8VbZu9auk6QPSIie10c9yCKIdnrzEN15pBhmgVFqJVRWsBy2rGkFmhY=
    on_success: change
    on_failure: always
